<section class="vh-100 bg-image">
<form [formGroup]="registerForm"(ngSubmit)="loginUser()">

  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Confirmed Password </h2>
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4cg"> 
                  Password</label>
                <input type="password" [(ngModel)]="newregister.password" id="upassword" class="form-control form-control-lg"formControlName="password" />
                <span style="color: red;"*ngIf="password && password.invalid && password.touched">
                  Must be Enter PassWord 
                 </span>
                
                </div>
           <div class="form-outline mb-4">
            <label class="form-label" for="form3Example4cg"> Confirm
              Password</label>
                  <input type="password" [(ngModel)]="newregister.Confirmedpassword" id="upassword" class="form-control form-control-lg" formControlName="confirmPassword"/>
                  <span style="color: red;"*ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched">
                    Must be enter same password
                   </span>
                  
                </div>
                 <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"[disabled]="registerForm.invalid" (click)="register()" >Register</button>
                </div>

               

           

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</section>